{% extends "base_generic.html" %}
{% block title %}Empleado{% endblock %}
{% block title_main %}Mantenedor de Empleados {% endblock %}

{% block content %}

<main role="main" class="container">
    <h3 class="lead" style="color: #596272"><strong>Eliminar Empleado</strong></h3><br><br>

    <h5 style="font-weight: lighter;">¿Desea eliminar el registro de <strong>{{ empleado }}</strong>?</h5><br>

    <form action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" style="width: 120px; margin-right: 15px;" type="submit" value="Sí, eliminar"/>
        <a class="btn btn-info" style="width: 120px;" role="button" href="{% url 'empleados_list' %}">Cancelar</a>
    </form>
</main>

{% endblock %}