{% extends "base_generic.html" %}
{% block title %}Empleado{% endblock %}
{% block title_main %}Mantenedor de Empleados {% endblock %}


{% block content %}
{% load static %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
}

td, th {
    text-align: left;
    padding-left: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead {
    background-color: #dddddd;
    /*font-weight: bold;*/
}
</style>

<main role="main" class="container">
    
    <h3 class="lead" style="color: #596272"><strong>Visualizar Empleados</strong></h3><br>
    

    <div>
        <a class="nav-link mb-2" href="{% url 'empleados' %}">
                <i class="fas fa-chevron-left"></i> Volver</a>
    </div> 
    
    <div class="col-12">
        <table>
            <thead>
                <tr>
                    <td>Rut Empleado</td>
                    <td>Dv</td>
                    <td>Nombres</td>
                    <td>A.Paterno</td>
                    <td>A.Materno</td>
                    <td>Teléfono</td>
                    <td>Email</td>
                    <td>Dirección</td>
                    <td>Usuario</td>
                    <td>Admin</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody class= "">
                {% if object_list %}
                {% for empleado in object_list %}
                <tr>
    
                    <td>{{ empleado.rut_empleado }}</td>
                    <td>{{ empleado.dv }}</td>
                    <td>{{ empleado.nombres }}</td>
                    <td>{{ empleado.a_paterno }}</td>
                    <td>{{ empleado.a_materno }}</td>
                    <td>{{ empleado.telefono }}</td>
                    <td>{{ empleado.email }}</td>
                    <td>{{ empleado.direccion }}</td>
                    <td>{{ empleado.usuario }}</td>
                    <td>{{ empleado.administrador }}</td>
    
                    <td style="text-align: center">
                        <a class="btn btn-primary" style="width: 120px; margin: 5px" href="{% url 'empleado_update' empleado.pk %}">
                            <i class="fas fa-edit"></i> Editar</a>
                        <a class="btn btn-primary" style="width: 120px; margin: 5px" href="{% url 'empleado_delete' empleado.pk %}">
                            <i class="fas fa-minus-circle"></i> Eliminar</a>
                    </td>
    
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de empleados.</h1>
                {% endif %}
            </tbody>
        </table>
    </div>

</main><br>

{% endblock %}