<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Huéspedes</h1>
    <h2>Cantidad: {{ cantidad }}</h2>
    <table border="1" style="height: 30px;">
        <thead>
            <th>Rut</th>
            <th>Dv</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
        </thead>
        <tbody>           
            {% for huesped in huespedes %}
                <tr style="padding: 3px;">
                    <td>{{huesped.rut_huesped}}</td>
                    <td>{{huesped.dv}}</td>
                    <td>{{huesped.nombre}}</td>
                    <td>{{huesped.telefono}}</td>
                    <td>{{huesped.email}}</td>
                </tr>
            {% endfor %}     
        </tbody>
    </table>
</body>
</html>