{% extends "base_generic.html" %}
{% block title %}Proveedores{% endblock %}
{% block title_main %}Mantenedor de Proveedores{% endblock %}

{% block content %}

<h3>Actualizar proveedor</h3>
<form method="POST">
    <div>
        {%csrf_token%}
        <div class="form-group row">            
            <div class="col-md-6">
                <label for="id_rut_proveedor">{{ form.rut_proveedor.label }}</label>
                {{ form.rut_proveedor }}
                {{ form.rut_proveedor.errors }}
            </div>
            <div class="col-md-2">
                <label for="id_dv">{{ form.dv.label }}</label>
                {{ form.dv }}
                {{ form.dv.errors }}
            </div>
        </div>        

        <div class="form-group row">
            <div class="col-md-12">
                <label for="id_nombre">{{ form.nombre.label }}</label>
                {{ form.nombre }}
                {{ form.nombre.errors }}
            </div>                    
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="id_telefono">{{ form.telefono.label }}</label>
                {{ form.telefono }}
                {{ form.telefono.errors }}
            </div>
            <div class="col-md-6">
                <label for="id_email">{{ form.email.label }}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label for="id_direccion">{{ form.direccion.label }}</label>
                {{ form.direccion }}
                {{ form.direccion.errors }}
            </div>                    
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="id_direccion">{{ form.id_rubro.label }}</label>
                {{ form.id_rubro }}
                {{ form.id_rubro.errors }}
            </div>                    
        </div>              
        
        <input type="submit" class="btn btn-primary mt-4 mb-5" style="width: 120px;" value="Grabar">
    </div>
</form>

{% endblock %}