{% extends "base_generic.html" %}
{% block title %}Usuario{% endblock %}
{% block title_main %}Mantenedor de Usuarios{% endblock %}

{% block content %}
<style> 
    * {
    box-sizing: border-box;
    }

    input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    }

    /*textarea {
    height: 120px;
    }*/

    label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 3px;
    color: #495057;
    }
</style>

<main role="main" class="container">

        <h3 class="lead" style="color: #596272"><strong>Actualizar Usuario</strong></h3><br>

    <div>
        <a class="nav-link mb-2" href="{% url 'usuario_list' %}">
                <i class="fas fa-chevron-left"></i> Volver</a>
    </div><br>
    <div class="rounded shadow p-4 col-12 bg-white" style="margin-bottom: 100%;">
        <form method="post" class="row g-3">
            {%csrf_token%}
            {{ form }}
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary mt-4 mb-2" style="width: 120px;">Actualizar</button>
            </div>
        </form>
    </div>

</main>

{% endblock %}