{% extends "base_generic.html" %}
{% block title %}Empleados{% endblock %}
{% block title_main %}Mantenedor de Empleados {% endblock %}


{% block content %}
{% load static %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
    }
    
    td, th {
        text-align: left;
        padding-left: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    thead {
        background-color: #dddddd;
        /*font-weight: bold;*/
    }
</style>
<main role="main" class="container">

    <h3 class="lead" style="color: #596272"><strong>Mantenedor de Empleados</strong></h3><br>
    
    <div class="btns">
        <div>
            <a href="{% url 'empleado_create' %}" class="btn btn-primary mt-4 mb-5" role="button">
                  <i class="fas fa-file"></i> Crear</a>
        </div>
        <div>
            <a href="{% url 'empleados_list' %}" class="btn btn-primary mt-4 mb-5" role="button">
                  <i class="fas fa-eye"></i> Visualizar</a>
        </div>
       
    </div>
    <br>
    <form class="d-none d-sm-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" 
    method="GET" style="width: 255px">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <br>
    {% url 'empleados' as the_url %}
    {% if request.get_full_path != the_url %}
    {% if empleado %}
    <div class="col-12">
        <table>
            <thead>
                <tr>
                    <td>Rut Empleado</td>
                    <td>Dv</td>
                    <td>Nombres</td>
                    <td>A.Paterno</td>
                    <td>A.Materno</td>
                    <td>Teléfono</td>
                    <td>Email</td>
                    <td>Dirección</td>
                    <td>Usuario</td>
                    <td>Contraseña</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody class= "">
                
                {% for empleado in empleado %}
                <tr>
    
                    <td>{{ empleado.rut_empleado }}</td>
                    <td>{{ empleado.dv }}</td>
                    <td>{{ empleado.nombres }}</td>
                    <td>{{ empleado.a_paterno }}</td>
                    <td>{{ empleado.a_materno }}</td>
                    <td>{{ empleado.telefono }}</td>
                    <td>{{ empleado.email }}</td>
                    <td>{{ empleado.direccion }}</td>
                    <td>{{ empleado.usuario }}</td>
                    <td>{{ empleado.contrasenia }}</td>
    
                    <td style="text-align: center">
                        <a class="btn btn-primary" style="width: 120px; margin: 5px" href="{% url 'empleado_update' empleado.pk %}">
                            <i class="fas fa-edit"></i> Editar</a>
                        <a class="btn btn-primary" style="width: 120px; margin: 5px" href="{% url 'empleado_delete' empleado.pk %}">
                            <i class="fas fa-minus-circle"></i> Eliminar</a>
                    </td>
    
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros con ese criterio de búsqueda.</h1>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}

</main><br>

{% endblock %}
